#album-photos {
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  list-style: none;
}

#album-photos li {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#album-photos li span {
  opacity: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 9pt;
  line-height: 370px;
  padding: 5px;
}

#album-photos li:hover {
  transform: scale(1.5);
  transition: all 0.2s ease-in;
}

#album-photos li:hover span {
  opacity: 1;
}

/* quando o mouse estiver sobre a imagem */

#photo01:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

#photo02:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

#photo03:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

#photo04:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

#photo05:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

#photo06:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

/* galeria de imagens */

#photo01 {
  background: url('../Aula-em-video/_imagens/galeria-01.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

#photo02 {
  background: url('../Aula-em-video/_imagens/galeria-02.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

#photo03 {
  background: url('../Aula-em-video/_imagens/galeria-03.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

#photo04 {
  background: url('../Aula-em-video/_imagens/galeria-04.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

#photo05 {
  background: url('../Aula-em-video/_imagens/galeria-05.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

#photo06 {
  background: url('../Aula-em-video/_imagens/galeria-06.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}
